
.ranking-table {
    padding:12px;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fffef9;
    max-width: 800px;
    margin: 0;
    margin-left: 0;
    margin-top: 0px;
  }
  
  .ranking-table h2 {
    margin-bottom: 16px;
    color: #4e342e;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .ranking-table table {
    width: 95%;
    border-collapse: collapse;
    background-color: #fefefe;
    display: block;
    max-height: 400px; 
    overflow-y: auto;
  }

  .ranking-table thead {
    position: sticky;
    top: 0;
    background-color: #d7ccc8;
    z-index: 1;
  }
  
  .ranking-table th,
  .ranking-table td {
    border: 1px solid #d7ccc8;
    padding: 12px;
    text-align: left;
  }

  /* Wide Country column */
.ranking-table th:first-child,
.ranking-table td:first-child {
  min-width: 90px;
  max-width: 110px;
  width: 20%;
}

/* Smaller other columns */
.ranking-table th:not(:first-child),
.ranking-table td:not(:first-child) {
  min-width: 50px;
  max-width: 70px;
  width: 10%;
}
  
  .ranking-table th {
    background-color: #d7ccc8;
    color: #3e2723;
    cursor: pointer;
  }

.table-wrapper {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
  }

.ranking-table thead th {
    position: sticky;
    top: 0;
    background-color: #d7ccc8;
    z-index: 2;
  }