.App {
  text-align: center;
}

.site-title {
  text-align: center;
  color: #3e2723;
  font-size: 2rem;
  margin-top: 15px;
  font-family: 'Segoe UI', sans-serif;
}

.ranking-radar-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin: 20px;
}

.linegraph-container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
